 <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
     <aop:aspectj-autoproxy/>
       
    
     <bean name="bibliotheque" class="gestion.trelux.utilitaire.Bibliotheque"></bean>
     <bean name="personne" class="gestion.trelux.metier.Personne"></bean>
     <bean name="client" class="gestion.trelux.metier.Client"></bean>
     <bean name="clientId" class="gestion.trelux.metier.ClientId"></bean>
     
 </beans>
 